@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");

* {
  font-family: "Oxanium", cursive;
}

body {
  margin: 0px;
  background: #EEEEEE;
}

h1 {
  text-align: center;
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  background: white;
  padding: 5px 15px;
  margin-bottom: 5px;
  color: #263238;
  border-radius: 5px;
}

li {
  padding-bottom: 15px;
}
